@CHARSET "UTF-8";
#home_content {
	width:1100px;
	padding-bottom:35px;
	margin:0 auto;
}
.cl {
	clear:both;
}
* {
	padding:0;
	margin:0;
}
li {
	list-style-type:none;
}
.content_left {
	width:26%;
	float:left;
}
.content_middle {
	width:40%;
	float:left;
	margin-left:3%;
	margin-right:3%;
}
.middle_border {
	border-left:1px solid #eaeaea;
	border-right:1px solid #eaeaea;
	padding-left:5%;
	padding-right:5%;
	_padding-left:2%;
	_padding-right:2%;
}
.content_right {
	width:26%;
	float:left;
	_width:25%;
}
.content_title {
	margin-top:20px;
}
.title_left {
	float:left;
	width:50%;
	height:50px;
}
.title_font {
	font-size:20px;
	font-weight:bold;
	line-height:50px;
	float:left;
	padding-left:5px;
	color:#040a10;
}
.title_img {
	float:left;
	margin-top:13px;
}
.title_right {
	float:right;
	font-size:14px;
	color:#999;
	font-weight:bold;
	height:40px;
	line-height:53px;
}
.title_right a{
	color:#999;
}
.title_right a:hover{
	color:#555;
}
.news_title {
	height:30px;
	line-height:30px;
	font-weight:bold;
	font-size:14px;
	text-align:center;
}
.middle_list {
	margin-top:10px;
}
.news_list {
	height:30px;
	color:#999;
	font-size:14px;
	background:url("../image/list.jpg") no-repeat;
}
.news_list a {
	color:#999 !important;
}
.news_list a:hover {
	color:#222 !important;
}
.news_middle_title {
	float:left;
	width:70%;
	margin-left:15px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.news_right_title {
	width:95%;
	margin-left:15px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.news_time {
	float:right;
}
/* 图片滚动 */
.focus{
	width:100%;
	height:210px;
	float:left;
	position:relative;
	padding-top:5px;
}
.focus #pic{
	width:100%;
	height:210px;
	overflow:hidden;
}
.focus #pic ul{
	width:4216px;
	height:210px;
	float:left;
	padding:0;
	margin:0;
}
.focus #pic li{
	width:286px;
	height:210px;
	float:left;
}
.focus #pic li img{
	width:100%;
	height:210px;
	float:left;
}
.focus #tip{
	width:120px;
	height:14px;
	position:absolute;
	left:74%;
	margin:-20px 0 0;
	z-index:14;
}
.focus #tip ul li{
	width:12px;
	height:12px;
	float:left;
	margin:0 2px;
	background:url(../image/nocurrent.jpg) no-repeat;
}
.focus #tip ul li.current{
	background:url(../image/current.jpg) no-repeat;
}
.focus .show{
	display:block!important;
}
/*底部CSS*/
#footer {
	background:#f5f5f5;
	width:100%;
	height:75px;
	padding:15px 0 12px 0;
	margin:0 auto;
	text-align:center;
	font-size:13px;
	border-top:#d9d9d9 1px solid;
	color:#555;
}
.footer_line {
	height:22px;
	line-height:22px;
	text-align:center;
}