@CHARSET "UTF-8";
ul,li{  
	list-style:none;
	padding:0;
	margin:0;
}

a {  
	color:#555;
	text-decoration: none;
}
img {
	border:none;
}

.cl{
	clear: both;
	height: 0; 
	overflow: hidden;
}

body {
	margin: 0 auto;
	width:1000px;
	background-color:#fff;
	font-family:Microsoft YaHei;
}

.top{
	width:100%;
	height:350px;
	background:url(../image/top.png) no-repeat center;
	background-size:1000px 350px;
}

.top_second{
	width:100%;
	height:216px;
	background:url(../image/top_second.png) no-repeat center;
	background-size:1000px 216px;
}
.top_title{
	width: 80%;
	margin-left: 10%;
	height: 70px;
	font-size: 13px;
	color: #8C8C8C;
	background-color: #fff;
}

.top_logo{
	float:left;
	margin:20px 0 20px 35px;
	
}

.top_nav{
	float:left;
	margin:18px 0 18px 35px;
	padding:0 28px 0 28px;
	border-left:#CCC 1px solid;
	line-height:34px;
}

.top_nav li {
	float: left;
	padding: 0 6px 0 6px !important;
}

.top_nav li a{
	color: #8C8C8C;
}

.top_nav li a:hover{
	color: #333;
}

.top_phone{
	float:left;
	background:url(../image/top_phone.png) no-repeat;
	background-position: 0% 48%;
	background-size:18px 18px;
	line-height:70px;
	padding-left:28px;
	margin-left:30px;
}

.top_bottom{
	margin-top:224px;
	color:#FFF;
}

.top_bottom1{
	float:left;
	background:url(../image/top2.png) repeat;
	opacity:0.9;
	filter:alpha(opacity=90);
 	-ms-filter:alpha(opacity=90);
	height:56px;
	margin-left:240px;
	
}

.top_bottom2{
	float:left;
	background:url(../image/top2.png) repeat;
	opacity:0.9;
	filter:alpha(opacity=90);
 	-ms-filter:alpha(opacity=90);
	height:56px;
	margin-left:16px;
}

.top_word1{
	float:left;
	line-height:56px;
	font-size:22px;
	font-weight:900;
	padding-left:20px;
	font-family:SimSun;
}

.top_word2{
	float:left;
	font-size:14px;
	line-height:46px;
	padding-top:8px;
	padding-left:8px;
	padding-right:15px;
}

.top_word21{
	float:left;
	line-height:56px;
	font-size:22px;
	font-weight:900;
	padding-left:38px;
	font-family:SimSun;
}

.top_word22{
	float:left;
	font-size:14px;
	line-height:46px;
	padding-top:8px;
	padding-left:8px;
	padding-right:38px;
}