@CHARSET "UTF-8";
.list_right {
	width: 75%;
	line-height: 30px;
	float: left;
	margin: 15px 0px 0px 15px;
	position: relative;
}

#right_head {
	line-height: 20px;
	padding: 10px 0px 10px 0px;
	margin: 0 0px 10px 20px;
	padding-left: 5px;
	border-bottom: 2px solid #eaeaea;
	font-size:15px;
}
#right_head a{
	color: #666;
	text-decoration: none;
}

#right_head a:hover{
	color: #F00;
	text-decoration: none;
}
#right_title {
	font-size: 20px;
	color: #064481;
	font-weight: bold;
	padding: 5px 0px 0 15px;
	margin: 0px 10px 0px 10px;
}

#right_content {
	margin: 10px 0px 0px 30px;
	width: 95%;
}
#right_content_detail p {
	margin-top:5px;
}
#right_content_detail {
	margin: 10px 0px 0px 30px;
	width: 95%;
	color:#666;
	font-size:14px;
	line-height:23px;
}

#right_content a:hover{
	color: #F00;
	text-decoration: none;	
}
.content2 {
	width: 76%;
	display: block;
	overflow: hidden;
	font-size: 14px;
	text-overflow: ellipsis;
	float: left;
}
.time {
	width: 13%;
	float: right;
	display: block;
	height: 20px;
	font-size: 14px;
	color: #666;
}

#right_content ul li {
	width: 100%;
	height: 30px;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	background-image: url(../img/2ji_list.jpg);
	background-position: left;
	background-repeat: no-repeat;
	margin: 2px 0 0px 0;
	text-align: left;
}
#page{
	margin:10px 70px 10px 70px;
}
#page a{
	color: #666;
	text-decoration: none;
}

#page a:hover{
	color: #F00;
	text-decoration: none;	
}
.clear{
	clear:both;
}
/* CSS Document */

.joblist_top{
	height:45px !important;
	line-height:45px;
	background-color:#99D1FF;
}

.title_job {
	width: 40%;
	display: block;
	overflow: hidden;
	font-size: 14px;
	text-overflow: ellipsis;
	float: left;
}

.address_job {
	width: 25%;
	display: block;
	overflow: hidden;
	font-size: 14px;
	text-overflow: ellipsis;
	float: left;
}

.number_job {
	width: 25%;
	display: block;
	overflow: hidden;
	font-size: 14px;
	text-overflow: ellipsis;
	float: left;
}

.time_job {
	width: 10%;
	float: right;
	display: block;
	height: 20px;
	font-size: 14px;
	color: #666;
}

.job_content_time{
	text-align:left;
	padding-left:10px;
}

