/**lyb**/
.container{
	width:1038px;
	height:auto;
	margin:0 auto;
}
.leftNavi{
	width:17%;
	height:auto;
	margin-left:8%;
	float:left;
}
.leftNaviTitle{
	width:100%;
	background:#2997f1;
	color:#FFFFFF;
	font-family:微软雅黑;
	margin-bottom:2px;
}
.naviTitleCh{
	width:100%;
	font-size:20px;
	padding-top:10px;
	margin-left:10px;
}
.naviTitleEn{
	width:100%;
	font-size:12px;
	padding-bottom:10px;
	margin-left:10px;
}
.naviMenuButton{
	width:100%;
	color:#000000;
	font-size:14px;
	font-family:微软雅黑;
	font-weight:bold;
	line-height:35px;	
}
.naviMenuButton	a{
	margin-left:10px;
	display:block;
	text-decoration:none;
	color:#222;
}

.leftNaviSearch{
	background:#99D1FF;
	color:#FFFFFF;
	font-size:14px;
	font-family:微软雅黑;
	font-weight:bold;
	margin-top:2px;
}
.naviSearchTitle{
	margin-left:10px;
	line-height:40px;
}
.naviSearchForm{
	margin-left:10%;
}
.naviSearchForm select {
	margin-bottom:10px;
	width:85%;
	height:22px;
	font-size:12px;
	border-radius:3px;
}
.naviSearchForm input{
	margin-bottom:15px;
	width:82%;
	height:18px;
	font-size:12px;
	border-radius:3px;
}
.searchNav {
	height:25px!important; 
	width:85%; 
	line-height:25px; 
	border:none; 
	background:#2997f1; 
	color:#FFFFFF; 
	font-size:14px!important;
	font-family:Microsoft Yahei;
}
.leftNaviMenu {
	padding:5px 0 5px 0;
	background:#99D1FF;
}