@CHARSET "UTF-8";
body {
font-family:"Arial","Microsoft YaHei","黑体","宋体",sans-serif !important;
}
.col-md-8 {
	width: 100%;
}
.col-md-3 {
	width: 15%;
}
.admin-pull-center {
	margin:0 auto;
	text-align:center;
}
.add-width {
	width:50% !important;
}
.form-group {
margin-bottom: 20px !important;
}
.col-admin {
	width:35%!important;
	padding-left:28%;
	line-height:35px;
}
.col-admin-div {
	width:65%!important;
}
.cl {
	clear:both;
}